<div class = "part1">
    <div class = "left">
        <img src = "./assets/lung-image1.jpg">
    </div>
    <div class = "right">
        <p class = "p1">About<br><span class = "span1">The Lung Diseases</span></p>
        <p class = "p2"><b>Lung diseases</b> are conditions that affect the health and function of the respiratory system, impacting millions worldwide. 
            They can range from mild discomfort to severe, life-threatening illnesses. 
            The lungs play a vital role in oxygenating the body, and their impairment can lead to serious health challenges. 
            Early diagnosis and care are essential to maintaining respiratory health and improving quality of life.</p>
    </div>
</div>