<div class="top-bar">
    <div class="container">
      <a class="logo" href="index.html">
        <img src="./assets/logo-website2.png" alt="Website Logo">
      </a>
    </div>
</div>
<div class="navbar-container">
    <div class="container">
      <nav class="navbar">
        <div class="navbar-links">
          <ul class="nav-menu">
                <li><a href = "#">Home</a></li>
                <li><a (click) = "goToHome()">About</a></li>
                <li><a (click) = "goToDiseases()">Lung Diseases</a></li>
                <li><a (click) = "goToEffects()">The Effects</a></li>
                <li><a (click) = "goToTechnologies()">Technologies Used</a></li>
                <li><a href = "#testimonials">Results Obtained</a></li>
                <li><a (click) = "goToFileUpload()">Make Predictions</a></li>
          </ul>
        </div>
      </nav>
      </div>
</div>
  