<h2 class="section-heading"><i>Technologies Used</i></h2>
<div class="technologies-container">
    <!-- Frontend Section -->
    <div class="technology-item">
      <div class="text-content">
        <h3>Frontend</h3>
        <p>We used Angular to create a dynamic and interactive user interface, styled with HTML and CSS. 
            TypeScript ensures type-safe logic and efficient performance. Angular's modularity and component-based architecture 
            made it easier to maintain and extend the UI.
            Additionally, responsive design principles were applied to optimize the user experience across devices</p>
      </div>
      <div class="image-content">
        <img src="./assets/angular.jpeg" alt="Frontend Technologies" />
      </div>
    </div>
  
    <!-- Backend Section -->
    <div class="technology-item">
      <div class="text-content">
        <h3>Backend</h3>
        <p>Flask serves as the lightweight backend framework, handling API requests and routing to connect the deep learning model with the frontend.
             Its simplicity and scalability enabled quick deployment of the application. 
            We leveraged Flask's flexibility to seamlessly integrate the model, providing efficient data handling and routing capabilities.</p>
      </div>
      <div class="image-content">
        <img src="./assets/flask.png" alt="Backend Technologies" />
      </div>
    </div>
  
    <!-- Deep Learning Section -->
    <div class="technology-item">
      <div class="text-content">
        <h3>Deep Learning</h3>
        <p>TensorFlow/Keras powers the predictive model for classifying images. It enables accurate training and inference for various classes. 
            With its advanced features, we implemented a convolutional neural network to process input images. 
            These tools ensured reliable predictions and facilitated integration with the backend for real-time analysis.</p>
      </div>
      <div class="image-content">
        <img src="./assets/tensorflow.png" alt="Deep Learning Technologies" />
      </div>
    </div>
  </div>
  